# Python virtual environment
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
!logs/*.log
!sfp_monitor.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Local development files
local_settings.py
db.sqlite3
